@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 400
  font-display: fallback
  src:
    local('Inter Regular'),
    local('Inter-Regular'),
    url(~assets/fonts/inter/400.woff2) format('woff2'),
    url(~assets/fonts/inter/400.woff) format('woff')

@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 400
  font-display: fallback
  src:
    local('Inter Regular Italic'),
    local('Inter-Regular-Italic'),
    url(~assets/fonts/inter/400_italic.woff2) format('woff2'),
    url(~assets/fonts/inter/400_italic.woff) format('woff')

@font-face
  font-family: 'Inter'
  font-style: normal
  font-weight: 600
  font-display: fallback
  src:
    local('Inter Medium'),
    local('Inter-Medium'),
    url(~assets/fonts/inter/600.woff2) format('woff2'),
    url(~assets/fonts/inter/600.woff) format('woff')

@font-face
  font-family: 'Fabriga'
  font-style: normal
  font-weight: 600
  font-display: fallback
  src:
    local('Fabriga Medium'),
    local('Fabriga-Medium'),
    url(~assets/fonts/fabriga/600.woff2) format('woff2'),
    url(~assets/fonts/fabriga/600.woff) format('woff')
